aiofiles
annotated-types
anyio
certifi
charset-normalizer
click
colorama
contourpy
cycler
exceptiongroup
fastapi
ffmpy
filelock
fonttools
fsspec
gradio
gradio_client
h11
httpcore
httpx
huggingface-hub
idna
importlib_resources
Jinja2
keyboard
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
MouseInfo
mss
numpy
orjson
packaging
pandas
pillow
psutil
PyAutoGUI
pydantic
pydantic_core
pydub
PyGetWindow
Pygments
PyMsgBox
pynput
pyparsing
pyperclip
PyRect
PyScreeze
python-dateutil
python-multipart
pytweening
pytz
PyYAML
requests
rich
ruff
semantic-version
shellingham
six
sniffio
starlette
tomlkit
tqdm
typer
typing_extensions
tzdata
urllib3
uvicorn
watchdog
websockets
